%h1.page-header index-task

.row
  .col-md-2
    = render 'nav'
  .col-md-10
    %table.table.table-striped
      %thead
        %tr
          %th
          %th
          %th= t('name')
      %tbody
        - @tasks.each do |task|
          %tr{class: "task#{task.id}"}
            %td
              -# %a{:href => finish_dashboard_tasks_path(task), "data-target" => "#scores", "data-toggle" => "modal"}
              -#   %i.fa.fa-check
              %a.finish{data: {target: '#scores', toggle: 'modal', task: task.id}}
                %i.fa.fa-check
            %td
              %a{:href => dashboard_task_path(task), 'data-method'=> 'delete'}
                %i.fa.fa-times
            %td= task.restaurant.name
    = paginate @tasks

/ Modal
#scores.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    = form_tag '', id: 'feedback_scores', remote: true do
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h4#myModalLabel.modal-title Scores
        .modal-body
          %p Overall
          %span.star-rating
            = radio_button_tag 'overall', '1'
            %i
            = radio_button_tag 'overall', '2'
            %i
            = radio_button_tag 'overall', '3'
            %i
            = radio_button_tag 'overall', '4'
            %i
            = radio_button_tag 'overall', '5'
            %i
          %span.more
            %i.fa.fa-chevron-circle-down.fa-2x{title: 'More', data: {toggle: 'tooltip', placement: 'right'}}
          .detail{style: "display: none;"}
            %p Delicious
            %span.star-rating
              = radio_button_tag 'delicious', '1'
              %i
              = radio_button_tag 'delicious', '2'
              %i
              = radio_button_tag 'delicious', '3'
              %i
              = radio_button_tag 'delicious', '4'
              %i
              = radio_button_tag 'delicious', '5'
              %i
            %p Service
            %span.star-rating
              = radio_button_tag 'service', '1'
              %i
              = radio_button_tag 'service', '2'
              %i
              = radio_button_tag 'service', '3'
              %i
              = radio_button_tag 'service', '4'
              %i
              = radio_button_tag 'service', '5'
              %i
            %p Queues
            %span.star-rating
              = radio_button_tag 'queues', '1'
              %i
              = radio_button_tag 'queues', '2'
              %i
              = radio_button_tag 'queues', '3'
              %i
              = radio_button_tag 'queues', '4'
              %i
              = radio_button_tag 'queues', '5'
              %i
            %p Feel
            %span.star-rating
              = radio_button_tag 'feel', '1'
              %i
              = radio_button_tag 'feel', '2'
              %i
              = radio_button_tag 'feel', '3'
              %i
              = radio_button_tag 'feel', '4'
              %i
              = radio_button_tag 'feel', '5'
              %i
          -# %strong.choice.pull-right Choose a rating
          %p comment
          = text_area_tag 'comment', '', class: "form-control"
        .modal-footer
          = button_tag "Close", data: { :dismiss => "modal" }, class: 'btn btn-default'
          = submit_tag 'Save changes', class: 'btn btn-success'