#task-new
  %h1
  .row
    = form_for '', url: {controller: 'tasks', action: 'fetch'}, remote: true, html: {id: 'fetch'} do |f|
      .col-md-11
        .form-group.float-label-control
          = label_tag :url, t('page.task.paste_url'), for: ''
          = url_field_tag :url, '', :class=>'form-control', value: ''
      .col-md-1
        .form-group
          = submit_tag t('post'), class: 'btn btn-success fetch_btn'

  .row.loading.hide
    .text-center
      %i.fa.fa-spinner.fa-spin.fa-5x
  .row.task_form.hide
    .col-md-12
      %h3.page-header= t('page.task.add_header')
      = form_for '', url: {controller: 'tasks', action: 'create'} do |f|
        = hidden_field_tag :respone_url
        .form-group.float-label-control
          = label_tag :name, t('utile.name'), for: ''
          = text_field_tag :name, '', :class=>'form-control'
        .form-group.float-label-control
          = label_tag :address, t('utile.address'), for: ''
          = text_field_tag :address, '', :class=>'form-control'
        .form-group.float-label-control
          = label_tag :telephone, t('utile.telephone'), for: ''
          = telephone_field_tag :telephone, '', :class=>'form-control'

        = link_to t('back'), tasks_path, class: 'btn btn-default'
        = submit_tag t('post'), class: 'btn btn-success'

= content_for :js do
  = javascript_include_tag "tasks"


/= form_for @restaurant, url: {:action=>"create", :controller=>"dashboard/task"} do |f|
/  %p name
/  = f.text_field :name, class: 'form-control'

/  %p address
/  = f.text_field :address, class: 'form-control'

/  %p category
/  = f.text_field :category, class: 'form-control'
/ # = f.select(:category, options_for_select([[t('study.master'), "master"], [t('study.university'), "university"]]), {}, {:class=>'form-control'})

/  %p
/  = f.submit 'Create', class: 'btn btn-success'