#account
  %h1.page-header= t("account")
  = form_for @user, :url=> sign_upping_path(@user), method: "post", :html => {:class=> 'form-horizontal col-md-12', :role=> 'form'} do |f|
    = f.text_field :id, type: "hidden"
    .form-group.float-label-control
      = f.label :name, t('user.name'), for: ''
      = f.text_field :name, :class=>'form-control'

    .form-group.float-label-control
      = f.label :email, t('user.email'), for: ''
      = f.email_field :email, :class=>'form-control'

    .form-group.text-center
      = f.submit t('update'), :class=> 'btn btn-lg btn-success btn-block'