%div#account.container
    %h1= t("user.sign_up")
    %hr/
    = form_for @user, :url=> sign_upping_path(@user), method: "post", :html => {:class=> 'form-horizontal', :role=> 'form'} do |f|
        = f.text_field :id, type: "hidden"
        %div.form-group.row
            = f.label :classes, t('sign_up.classes'), :class=>'col-md-3 control-label'
            %div.col-md-7
                = f.select(:classes, [[t('study.master'), "master"], [t('study.university'), "university"]], {}, {:class=>'form-control'})

        %div.form-group.row
            = f.label :name, t('sign_up.name'), :class=>'col-md-3 control-label'
            %div.col-md-7
                = f.text_field :name, :class=>'form-control'
            %p.text-warning= t('user.note-name')

        %div.form-group.row
            = f.label :email, :class=>'col-md-3 control-label'
            %div.col-md-7
                = f.email_field :email, :class=>'form-control'
            %p.text-warning= t('user.note-email')

        %div.form-group.row
            = f.label :phone, t('sign_up.phone'), :class=>'col-md-3 control-label'
            %div.col-md-7
                = f.number_field :phone, :class=>'form-control'
            %p.text-warning= t('user.note-phone')
        %div.form-group
            %div.col-md-offset-3.col-md-10
                = f.submit t("user.sign_up"), :class=> 'btn btn-success col-md-8'