= form_for @restaurant, url: dashboard_restaurants_path do |f|
  %p name
  = f.text_field :name

  %p area
  = f.text_field :area

  %p address
  = f.text_field :address

  %p telephone
  = f.telephone_field :telephone

  %p category
  = f.text_field :category

  %p
  = f.submit 'Create', class: 'btn btn-success'