%h1 New

= form_for @restaurant, url: {:action=>"create", :controller=>"dashboard/task"} do |f|
  %p name
  = f.text_field :name, class: 'form-control'

  %p address
  = f.text_field :address, class: 'form-control'

  %p category
  = f.text_field :category, class: 'form-control'
  / # = f.select(:category, options_for_select([[t('study.master'), "master"], [t('study.university'), "university"]]), {}, {:class=>'form-control'})

  %p
  = f.submit 'Create', class: 'btn btn-success'