%nav.navbar.navbar-custom.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header.page-scroll
      %button.navbar-toggle{"data-target" => ".navbar-main-collapse", "data-toggle" => "collapse", :type => "button"}
        %i.fa.fa-bars
      %a.navbar-brand{:href => root_path}
        %i.fa.fa-cutlery
        %span.light Eat it
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse.navbar-right.navbar-main-collapse
      %ul.nav.navbar-nav
        / Hidden li included to remove active class from about link when scrolled up past about section
        %li.hidden
          %a{:href => "#page-top"}
        %li.page-scroll
          %a{href: restaurants_path}= t('restaurant')
        - if session[:UserInfo]
          %li.page-scroll
            %a{href: tasks_path}= t('task')
      %ul.nav.navbar-nav.navbar-right
        - if session.has_key?(:UserInfo)
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %img.img-rounded{:src => "https://graph.facebook.com/#{session[:UserInfo][:fb_id]}/picture?type=normal", :alt => "square"}
              = session[:UserInfo][:name]
              %b.caret
            %ul.dropdown-menu
              %li
                %a{:href => user_account_path}
                  %i.fa.fa-cog
                  = t('account')
              %li.divider
              %li
                %a{:href => sign_out_path}
                  %i.fa.fa-power-off
                  =t('sign_out')
        - else
          %li.page-scroll
            %a{:href => "/auth/facebook"}= t('sign_in')

