<!DOCTYPE html>
<html>
<head>
  <title>EatitWeb</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrap">
    <%= render :partial => "common/nav" %>
    <div class="container">
        <%= yield %>
    </div>
</div>
<%= render :partial => "common/footer" %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
