<!DOCTYPE html>
<html>
<head>
  <title>Eat It</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
<%= render :partial => "common/nav" %>

<div id="wrap">
  <div class="container">
    <%= yield %>
  </div>
  <%= render :partial => "common/footer" %>
</div>

<%= yield :js %>
</body>
</html>
